<a href="https://colab.research.google.com/github/upamada-ekanayake/SL-Personal-Finance-Advisor/blob/main/Day5_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# 1. Re-create the sample data (just to make sure we have it ready today)
data = [
    {"Date": "2024-01-01", "Category": "Income", "Description": "Monthly Salary", "Amount": 150000, "Type": "Income"},
    {"Date": "2024-01-02", "Category": "Food", "Description": "Keells Supermarket", "Amount": 12500, "Type": "Expense"},
    {"Date": "2024-01-03", "Category": "Food", "Description": "Lunch Packet", "Amount": 450, "Type": "Expense"},
    {"Date": "2024-01-04", "Category": "Transport", "Description": "PickMe", "Amount": 450, "Type": "Expense"},
    {"Date": "2024-01-25", "Category": "Bills", "Description": "Dialog Bill", "Amount": 2100, "Type": "Expense"},
    {"Date": "2024-01-01", "Category": "Rent", "Description": "Boarding Fees", "Amount": 25000, "Type": "Expense"},
    {"Date": "2024-01-12", "Category": "Shopping", "Description": "Clothes", "Amount": 3500, "Type": "Expense"},
]
df = pd.DataFrame(data)

# 2. READ the data (The Analysis part starts here)
print("--- üìä DATA LOADED ---")
print(df)

--- üìä DATA LOADED ---
         Date   Category         Description  Amount     Type
0  2024-01-01     Income      Monthly Salary  150000   Income
1  2024-01-02       Food  Keells Supermarket   12500  Expense
2  2024-01-03       Food        Lunch Packet     450  Expense
3  2024-01-04  Transport              PickMe     450  Expense
4  2024-01-25      Bills         Dialog Bill    2100  Expense
5  2024-01-01       Rent       Boarding Fees   25000  Expense
6  2024-01-12   Shopping             Clothes    3500  Expense

In [2]:
# 1. Check for missing information
print("--- üßπ CHECKING FOR ERRORS ---")
print(df.isnull().sum())

print("\n--- ‚ÑπÔ∏è DATA TYPES ---")
print(df.dtypes)

--- üßπ CHECKING FOR ERRORS ---
Date           0
Category       0
Description    0
Amount         0
Type           0
dtype: int64

--- ‚ÑπÔ∏è DATA TYPES ---
Date           object
Category       object
Description    object
Amount          int64
Type           object
dtype: object

In [3]:
# 1. Filter only Expenses (Ignore Income for now)
expenses = df[df["Type"] == "Expense"]

# 2. Group by 'Category' and sum the 'Amount'
category_totals = expenses.groupby("Category")["Amount"].sum()

print("--- üí∞ EXPENSES BY CATEGORY ---")
print(category_totals)

--- üí∞ EXPENSES BY CATEGORY ---
Category
Bills         2100
Food         12950
Rent         25000
Shopping      3500
Transport      450
Name: Amount, dtype: int64

In [4]:
# 1. Sort the expenses from High to Low
sorted_expenses = expenses.sort_values(by="Amount", ascending=False)

# 2. Get the top item
top_expense = sorted_expenses.iloc[0]

print("--- üö® MOST EXPENSIVE ITEM ---")
print(f"Item: {top_expense['Description']}")
print(f"Cost: Rs. {top_expense['Amount']}")

--- üö® MOST EXPENSIVE ITEM ---
Item: Boarding Fees
Cost: Rs. 25000